
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #004d99;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}



table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

tbody tr:hover {
    background-color: #f0f0f0;
}