/* Réinitialisation des marges et des bordures par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style global du site */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding-bottom: 50px;
}





/* Section principale */
section {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    text-align: center;
}

/* Section pour les diplômes */

section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #004d99;
}

.diplomes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.diplome-item {
    width: 300px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #272525;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.diplome-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.diplome-item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.diplome-item h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
}

.diplome-item p {
    font-size: 16px;
    color: #555;
}

/* Styles pour la modale */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}

.modal-content {
    display: block;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #ccc;
}